<template>
    <div class="container">


        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2 col-sm-2 typography-line">
                        <h6 class="p-2">Sales List</h6>
                    </div>
                    <div class="col-md-10 col-sm-10">
                        <div class="form-group">
                            <input type="text"
                                   class="col-md-8 col-sm-12 form-control mt-1 float-right" @keyup="getResults(1)"
                                   v-model="saleSearch"
                                   placeholder="Search Client"
                            >
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-12 text-center">
                        <span class="custom-button fw-bold" :class="{ 'bg-primary': statusIs}"
                              @click.prevent="getResults(1,'active')">Active</span>
                        <span class="custom-button fw-bold" :class="{ 'bg-primary': !statusIs}"
                              @click.prevent="getResults(1,'complete')">Complete</span>
                    </div>
                </div>
                <!--                <button href="btn btn-default" @click.prevent="getResults(1,'active')">Active</button>-->
                <!--                <button href="btn btn-default" @click.prevent="getResults(1,'complete')">Complete</button>-->

                <div class="mt-3 table-responsive-sm" >
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle">Client</th>
                            <th scope="col" class="align-middle">Product</th>
                            <th scope="col" class="align-middle">Price</th>
                            <th scope="col" class="align-middle">Advance</th>
                            <th scope="col" class="align-middle">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="sales.length === 0">
                            <td colspan="6">
                                <p class="text-center">No Record Found</p>
                            </td>
                        </tr>
                        <tr v-for="sale in sales" :key="sale.id" v-if="sales.length > 0">
                            <td class="align-middle font-12">{{ sale.client.first_name }} {{
                                    sale.client.last_name
                                }}
                            </td>
                            <td class="align-middle font-12">{{ sale.product.title }}</td>
                            <td class="align-middle font-12">{{ sale.price }}</td>
                            <td class="align-middle font-12">{{ sale.advance }}</td>
                            <td class="align-middle font-12">
                                <span class="badge"
                                      :class="['badge-info', 'badge-success'][sale.status]">
                                    {{ ['Active', 'Complete'][sale.status] }}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" v-if="sales.length > 0">
                                <pagination class="pt-3" align="center" size="small" :data="response.data"
                                            @pagination-change-page="getResults">
                                </pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
import SaleApiService from '../../SaleApiService'
import Sale from '../../Models/Sale';
import SaleDetails from '../Client/SaleDetails';
import Toast from "../../helper/toast";

export default {
    components: {
        SaleDetails
    },
    props: ['token'],
    data() {
        return {
            editOrder: false,
            selectedSale: new Sale(),
            response: null,
            saleSearch: null,
            status: 'active',
            saleApiService: null,
            sales: null
        }
    },
    mounted() {
        if (this.token) {
            localStorage.setItem('token', this.token);
        }
        this.saleApiService = new SaleApiService();
        this.toast = new Toast();
        this.getResults();
    },
    methods: {


        getResults(page, status) {
            var outer_this = this;
            var search = this.saleSearch;
            if (!status) {
                status = this.status;
            } else {
                this.status = status
            }
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.saleApiService.salesList({page, search, status}).then(response => {
                this.sales = response.data.data.sales.map(sale => new Sale(sale));
                console.log(this.sales);
                this.response = response.data;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        createProduct() {
            var outer_this = this;
            if (this.selectedSale.id !== null) {
                this.saleApiService.update(this.selectedSale.id, this.selectedSale.addMethodKeyInRequest('PUT').getRequestFormData())
                    .then(response => {
                        outer_this.toast.success('Product Updated Successfully.')
                    }).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            } else {
                this.saleApiService.create(this.selectedSale.getRequestFormData()).then(response => {
                        outer_this.toast.success('Product Created Successfully.')
                        console.log(response)
                    }
                ).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            }
            this.getResults();
            this.resetForm();
        },
        selectSale(sale) {
            window.location.href = `/sale/${sale.id}`;
        },
        deleteProduct(sale) {
            var outer_this = this;
            this.saleApiService.delete(sale.id).then(response => {
                outer_this.getResults();
                outer_this.toast.success('Product Deleted Successfully.')
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        resetForm() {
            this.selectedSale = new Sale();
        },
    },
    computed: {
        statusIs() {
            return (this.status === 'active') ? true : false;
        }
    }
}
</script>
<style>
.custom-button {
    padding: 7px 50px;
    background-color: #c5c5c5;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
</style>
