<template>
    <div class="container">
        <div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add New User</h5>
<!--                        @click="resetForm"-->
                        <button type="button" ref="addForm" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="firstname" class="ml-3 font-12">First
                                                    Name:</label>
                                                <input type="text" v-model="form.first_name"
                                                       class="form-control" id="firstname"
                                                       placeholder="Enter First Name" required>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="last_name" class="ml-3 font-12">Last
                                                    Name:</label>
                                                <input type="text" v-model="form.last_name"
                                                       class="form-control" id="last_name"
                                                       placeholder="Enter Last Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="email" class="ml-3 font-12">Email:</label>
                                        <input type="email" v-model="form.email" required
                                               class="form-control" id="email"
                                               placeholder="Enter Last Name">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="mobile" class="ml-3 font-12">Mobile:</label>
                                        <input type="email" v-model="form.mobile" required
                                               class="form-control" id="mobile"
                                               placeholder="Enter Mobile Number">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="cnic" class="ml-3 font-12">CNIC:</label>
                                        <input type="text" v-model="form.cnic" required
                                               class="form-control" id="cnic" placeholder="Enter CNIC">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address" class="ml-3 font-12">Address:</label>
                                        <textarea v-model="form.address" style="border-radius: 50px;"
                                                  class="form-control" id="address" rows="3"></textarea>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="float-right mr-4">
<!--                                @click="onSubmit"-->
                                <button type="button" class="btn btn-default">Submit
                                </button>
<!--                                <button type="button" class="btn btn-danger" @click="resetForm"-->
<!--                                        data-dismiss="modal">Cancle-->
<!--                                </button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary float-right btn-round mt-0" data-toggle="modal"
                                data-target="#add-user-modal">Add New User
                        </button>
                    </div>
                </div>
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle font-12">Name</th>
                            <th scope="col" class="align-middle font-12">Email</th>
                            <th scope="col" class="align-middle font-12">Mobile</th>
                            <th scope="col" class="align-middle font-12">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="users.length > 0" v-for="user in users" :key="user.id">
                            <td class="align-middle font-12">{{ user.name }}</td>
                            <td class="align-middle font-12">{{ user.email }}</td>
                            <td class="align-middle font-12">{{ user.mobile }}</td>
                            <td class="align-middle font-12">
                                <button class="btn btn-danger btn-icon btn-round btn-sm m-0" value="Delete"
                                        @click="deleteUser(user.id)">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr v-if="users.length > 0">
                            <td colspan="4">
                                <pagination class="pt-3" align="center" size="small" :data="response.data.data"
                                            @pagination-change-page="getResults">
                                </pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import api from '../../Api.js'
import UserApiService from "../../UserApiService";
import Toast from "../../helper/toast";

export default {
    props: ['token'],
    data() {
        return {
            users: [],
            response: '',
            userApiService: null,
            form: {
                id: '',
                first_name: '',
                last_name: '',
                email: '',
                mobile: '',
                cnic: '',
                address: '',
                image: '',
                formData: null,
                toast: null
            },
        }
    },
    mounted() {
        this.userApiService = new UserApiService();
        localStorage.setItem('token', this.token);
        this.toast = new Toast();
        this.getResults(1);
    },
    methods: {
        deleteUser(id) {
            var outer_this = this;
            this.userApiService.delete(id).then(response => {
                this.getResults();
                outer_this.toast.success('User Delete Success!');
            })
        },
        getResults(page) {
            var outer_this = this;
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.userApiService.list({page}).then(response => {
                this.response = response;
                console.log(this.response)
                this.users = response.data.data.users;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        // createUser() {
        //
        // }
    }
}
</script>
