<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 pt-2">
                        <span class="badge pe-auto badge-info" @click="filterData(-1)">{{
                                moment(monthFilter, 'MM').subtract(1, 'M').format('MMMM')
                            }}</span>
                        <span class="badge badge-warning"
                              @click="filterData(  0)">{{ moment(monthFilter, 'MM').format('MMMM') }}</span>
                        <span class="badge badge-success"
                              @click="filterData( 1)">{{ moment(monthFilter, 'MM').add(1, 'M').format('MMMM') }}</span>
                        <span class="badge badge-danger" @click="filterData()">All</span>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <input type="text"
                                   class="col-md-12 col-sm-12 float-right form-control mt-1" @keyup="getResults(1)"
                                   v-model="staffSearch"
                                   placeholder="Search Staff"
                            >
                        </div>

                        <div class="modal fade" id="add-staff-modal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add New Staff</h5>
                                        <button type="button" ref="addForm" class="close" @click="resetForm"
                                                data-dismiss="modal" aria-hidden="true">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="name" class="ml-3 font-12">
                                                            Name: *</label>
                                                        <input type="text" v-model="form.name"
                                                               class="form-control" id="name"
                                                               placeholder="Enter Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="email" class="ml-3 font-12">Email:</label>
                                                        <input type="email" v-model="form.email"
                                                               class="form-control" id="email"
                                                               placeholder="Enter Email">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="mobile" class="ml-3 font-12">Mobile: *</label>
                                                        <input type="email" v-model="form.mobile" required
                                                               class="form-control" id="mobile"
                                                               placeholder="Enter Mobile Number">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-right mr-4">
                                                <button type="button" @click="onSubmit" class="btn btn-default">Submit
                                                </button>
                                                <button type="button" class="btn btn-danger" @click="resetForm"
                                                        data-dismiss="modal">Cancle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--        Modals End-->

                        <!--        Update Modal-->

                        <div class="modal fade" id="updateStaffModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Update Staff</h5>
                                        <button type="button" ref="updateForm" class="close" @click="resetForm"
                                                data-dismiss="modal" aria-hidden="true">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_name"
                                                               class="ml-3 font-12">Name:</label>
                                                        <input type="text" v-model="form.name"
                                                               class="form-control" id="update_name"
                                                               placeholder="Enter Name" required>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_email" class="ml-3 font-12">Email:</label>
                                                        <input type="email" v-model="form.email"
                                                               class="form-control" id="update_email"
                                                               placeholder="Enter Email">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_mobile" class="ml-3 font-12">Mobile:</label>
                                                        <input type="email" v-model="form.mobile" required
                                                               class="form-control" id="update_mobile"
                                                               placeholder="Enter Mobile Number">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-right mr-4">
                                                <button type="button" @click="onUpdate" class="btn btn-default">Submit
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                        @click="resetForm"
                                                        data-dismiss="modal">
                                                    Cancle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--        Modals End-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary float-right btn-sm btn-round mt-1" data-toggle="modal"
                                data-target="#add-staff-modal">Add New Staff
                        </button>
                    </div>
                </div>

                <div>
                    <div class="mt-2 table-responsive-sm">
                        <table class="table table-sm">
                            <thead class="text-primary">
                            <tr>
                                <th scope="col" class="align-middle font-12">Name</th>
                                <th scope="col" class="align-middle font-12">Email</th>
                                <th scope="col" class="align-middle font-12">Mobile</th>
                                <th scope="col" class="align-middle font-12">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="staffs.length > 0" v-for="staff in staffs" :key="staff.id">
                                <td class="align-middle font-12">
                                    <a @click="staffDetail(staff)" class="clickable-text">
                                        {{ staff.name }}
                                    </a>
                                </td>
                                <td class="align-middle font-12">{{ staff.email }}</td>
                                <td class="align-middle font-12">{{ staff.mobile }}</td>
                                <td>
                                    <button class="btn btn-info btn-icon btn-round btn-sm m-0" value="Edit"
                                            @click="editStaff(staff.id)">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button class="btn btn-danger btn-icon btn-round btn-sm m-0" value="Delete"
                                            @click="deleteStaff(staff.id)">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" v-if="response">
                                    <pagination class="pt-3" align="center" size="small" :data="response.data"
                                                @pagination-change-page="getResults">
                                    </pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
import Toast from '../../helper/toast';
import moment from "moment";
import StaffApiService from "../../StaffApiService";
import Staff from "../../Models/Staff";

export default {
    props: ['token'],
    data() {
        return {
            $: null,
            toast: '',
            staffSearch: '',
            staffApiService: null,
            staffs: [],
            staff: null,
            response: '',
            monthFilter: null,
            file: '',
            url: null,
            form: {
                id: '',
                name: '',
                email: '',
                mobile: '',
                formData: null,
                toast: null
            },
            show: true,
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);

        const current = new Date();

        this.toast = new Toast();
        this.staffApiService = new StaffApiService()
        this.getResults(1);
        this.formData = new FormData();

    },
    methods: {
        moment: function () {
            return moment();
        },
        filterData(num) {
            var number = null;
            if (num || num === 0) {
                number = parseInt(num) + parseInt(this.monthFilter)
            }
            this.getResults(1, number);
        },
        getResults(page) {
            var outer_this = this;
            let search = this.staffSearch
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.staffApiService.staffList({page, search}).then(response => {
                this.response = response.data;
                this.staffs = response.data.data.staffs;
                console.log(this.staffs);
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        onSubmit() {
            var outer_this = this;
            for (const field in this.form) {
                this.formData.append(field, this.form[field]);
            }

            this.staffApiService.staffCreate(this.formData).then(response => {
                this.response = response;
                if (response.data.status !== 'error') {
                    this.toast.success('Staff Added Success!');
                    this.resetForm();
                    this.getResults(1);
                    this.$refs.addForm.click();
                }
            }).catch(error => {
                outer_this.toast.errors(error.response.data);
            });


        },
        resetForm() {
            this.url = null;
            this.form = {
                id: '',
                name: '',
                email: '',
                mobile: '',
                formData: null
            };
        },
        editStaff(id) {
            var outer_this = this;
            this.staffApiService.getStaffDetails(id).then(response => {
                console.log(response);
                outer_this.staff  = new Staff(response.data.data.staff);
                console.log(outer_this.staff);
                this.form.id = this.staff.id;
                this.form.name = this.staff.name;
                this.form.email = this.staff.email
                this.form.mobile = this.staff.mobile
                $('#updateStaffModal').modal('show')
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        onUpdate() {
            var outer_this = this;
            for (const field in this.form) {
                this.formData.append(field, this.form[field]);
            }
            this.staffApiService.updateStaff(this.form.id, this.formData).then(function (res) {
                outer_this.toast.success('Staff Updated Success!');
                outer_this.getResults(1);
                outer_this.$refs.updateForm.click();
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        deleteStaff(id) {
            var outer_this = this;
            this.staffApiService.delete(id).then(response => {
            this.getResults(1);
                outer_this.toast.success('Staff Delete Success!');
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        staffDetail(staff) {
            window.location.href = `/staff/${staff.id}`;
        }
    }
}
</script>
<style>
.close {
    z-index: 100;
}
</style>
