<template>
    <div class="container" v-show="selectedStaff && selectedStaff.id !== null">

        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr class="text-center" aria-colspan="2" style="border-top: none !important;">
                            <th colspan="2"><h5 class="mt-2">Staff Details</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Staff Name:</th>
                            <td class="col-sm-7 font-12">{{ selectedStaff.name }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Phone Number:</th>
                            <td class="col-sm-7 font-12">{{ selectedStaff.mobile }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Email:</th>
                            <td class="col-sm-7 font-12">{{ selectedStaff.email }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</template>
<script>

import Staff from "../../Models/Staff";
import Toast from "../../helper/toast";
import staffApiService from "../../StaffApiService";

export default {
    props: ['id'],
    data() {
        return {
            search: '',
            response: null,
            staffApiService: null,
            selectedStaff: new Staff(),
            token: null,
            toast: ''
        }
    },
    mounted() {
        this.token = localStorage.getItem('token');
        this.toast = new Toast();
        this.staffApiService = new staffApiService();

        this.getStaff();
    },
    methods: {
        getStaff() {
            var outer_this = this;
            this.staffApiService.getStaffDetails(this.id).then(response => {
                console.log(response);
                outer_this.selectedStaff = new Staff(response.data.data.staff);
            })
                .catch(function (error) {
                    console.log(error.response)
                    outer_this.toast.errors(error.response.data);
                });
        }
    }
}
</script>
<style>
#client-card {
    height: 80vh;
}
</style>
