<template>
    <div class="container" v-show="staff && staff.id !== null">

        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr class="text-center" aria-colspan="2" style="border-top: none !important;">
                            <th colspan="2"><h5 class="mt-2">Staff Details</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Name:</th>
                            <td class="col-sm-7 font-12">{{ staff.name }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Phone Number:</th>
                            <td class="col-sm-7 font-12">{{ staff.mobile }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Email:</th>
                            <td class="col-sm-7 font-12">{{ staff.email }}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</template>
<script>

export default {
    props: ['staff']
}
</script>
<style>
#client-card {
    height: 80vh;
}
</style>
