<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 pt-2">
                        <span class="badge pe-auto badge-info" @click="filterData(-1)">{{
                                moment(monthFilter, 'MM').subtract(1, 'M').format('MMMM')
                            }}</span>
                        <span class="badge badge-warning"
                              @click="filterData(  0)">{{ moment(monthFilter, 'MM').format('MMMM') }}</span>
                        <span class="badge badge-success"
                              @click="filterData( 1)">{{ moment(monthFilter, 'MM').add(1, 'M').format('MMMM') }}</span>
                        <span class="badge badge-danger" @click="filterData()">All</span>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <input type="text"
                                   class="col-md-12 col-sm-12 float-right form-control mt-1" @keyup="getResults(1)"
                                   v-model="clientSearch"
                                   placeholder="Search Client"
                            >
                        </div>

                        <div class="modal fade" id="add-client-modal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add New Client</h5>
                                        <button type="button" ref="addForm" class="close" @click="resetForm"
                                                data-dismiss="modal" aria-hidden="true">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-12  d-flex justify-content-center">
                                                    <label for="image" class="rounded mx-auto d-block">
                                                        <img v-if="url" :src="url"
                                                             style="height: 100px; width: 100px">
                                                        <img v-else :src="'../storage/client/default.jpeg'"
                                                             style="height: 100px; width: 100px" class="rounded-circle">
                                                    </label>
                                                    <input type="file" id="image" style="display: none"
                                                           class="form-control-file align-self-center"
                                                           v-on:change="onFileChange">
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="firstname" class="ml-3 font-12">
                                                                    First Name: *</label>
                                                                <input type="text" v-model="form.first_name"
                                                                       class="form-control" id="firstname"
                                                                       placeholder="Enter First Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="last_name" class="ml-3 font-12">Last
                                                                    Name: *</label>
                                                                <input type="text" v-model="form.last_name"
                                                                       class="form-control" id="last_name"
                                                                       placeholder="Enter Last Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="email" class="ml-3 font-12">Email:</label>
                                                        <input type="email" v-model="form.email" required
                                                               class="form-control" id="email"
                                                               placeholder="Enter Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="mobile" class="ml-3 font-12">Mobile: *</label>
                                                        <input type="email" v-model="form.mobile" required
                                                               class="form-control" id="mobile"
                                                               placeholder="Enter Mobile Number">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="cnic" class="ml-3 font-12">CNIC: *</label>
                                                        <input type="text" v-model="form.cnic" required
                                                               class="form-control" id="cnic" placeholder="Enter CNIC">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="address" class="ml-3 font-12">Address: *</label>
                                                        <textarea v-model="form.address" style="border-radius: 50px;"
                                                                  class="form-control" id="address" rows="3"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-right mr-4">
                                                <button type="button" @click="onSubmit" class="btn btn-default">Submit
                                                </button>
                                                <button type="button" class="btn btn-danger" @click="resetForm"
                                                        data-dismiss="modal">Cancle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--        Modals End-->

                        <!--        Update Modal-->

                        <div class="modal fade" id="updateClientModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Update Client</h5>
                                        <button type="button" ref="updateForm" class="close" @click="resetForm"
                                                data-dismiss="modal" aria-hidden="true">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-12  d-flex justify-content-center">
                                                    <label for="update_image" class="rounded mx-auto d-block">
                                                        <img v-if="url" :src="url"
                                                             style="height: 100px; width: 100px">
                                                        <img v-else-if="form.id && form.image && form.image.length > 0"
                                                             :src="form.image"
                                                             style="height: 100px; width: 100px">
                                                        <img v-else :src="'../storage/client/default.jpeg'"
                                                             style="height: 100px; width: 100px" class="rounded-circle">
                                                    </label>
                                                    <input type="file" id="update_image" style="display: none"
                                                           class="form-control-file align-self-center"
                                                           v-on:change="onFileChange">
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="update_firstname" class="ml-3 font-12">First
                                                                    Name:</label>
                                                                <input type="text" v-model="form.first_name"
                                                                       class="form-control" id="update_firstname"
                                                                       placeholder="Enter First Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="form-group">
                                                                <label for="update_last_name" class="ml-3 font-12">Last
                                                                    Name:</label>
                                                                <input type="text" v-model="form.last_name"
                                                                       class="form-control" id="update_last_name"
                                                                       placeholder="Enter Last Name">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_email" class="ml-3 font-12">Email:</label>
                                                        <input type="email" v-model="form.email" required
                                                               class="form-control" id="update_email"
                                                               placeholder="Enter Last Name">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_mobile" class="ml-3 font-12">Mobile:</label>
                                                        <input type="email" v-model="form.mobile" required
                                                               class="form-control" id="update_mobile"
                                                               placeholder="Enter Mobile Number">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_cnic" class="ml-3 font-12">CNIC:</label>
                                                        <input type="text" v-model="form.cnic" required
                                                               class="form-control" id="update_cnic"
                                                               placeholder="Enter CNIC">
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="update_address"
                                                               class="ml-3 font-12">Address:</label>
                                                        <textarea v-model="form.address" style="border-radius: 50px;"
                                                                  class="form-control" id="update_address"
                                                                  rows="3"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="float-right mr-4">
                                                <button type="button" @click="onUpdate" class="btn btn-default">Submit
                                                </button>
                                                <button type="button" class="btn btn-danger" @click="resetForm"
                                                        data-dismiss="modal">Cancle
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--        Modals End-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary float-right btn-sm btn-round mt-1" data-toggle="modal"
                                data-target="#add-client-modal">Add New Client
                        </button>
                    </div>
                </div>

                <div>
                    <div class="mt-2 table-responsive-sm">
                        <table class="table table-sm">
                            <thead class="text-primary">
                            <tr>
                                <th scope="col" class="align-middle font-12">Name</th>
                                <th scope="col" class="align-middle font-12">Email</th>
                                <th scope="col" class="align-middle font-12">Mobile</th>
                                <th scope="col" class="align-middle font-12">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="clients.length > 0" v-for="client in clients" :key="client.id">
                                <td class="align-middle font-12">
                                    <a @click="clientDetail(client)" class="clickable-text">
                                        {{ client.first_name }} {{ client.last_name }}
                                    </a>
                                </td>
                                <td class="align-middle font-12">{{ client.email }}</td>
                                <td class="align-middle font-12">{{ client.mobile }}</td>
                                <td>
                                    <button class="btn btn-info btn-icon btn-round btn-sm m-0" value="Edit"
                                            @click="editClient(client.id)">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button class="btn btn-danger btn-icon btn-round btn-sm m-0" value="Delete"
                                            @click="deleteClient(client.id)">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" v-if="response">
                                    <pagination class="pt-3" align="center" size="small" :data="response.data"
                                                @pagination-change-page="getResults">
                                    </pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
import ClientApiService from '../../ClientApiService';
import Toast from '../../helper/toast';
import moment from "moment";

export default {
    props: ['token'],
    data() {
        return {
            $: null,
            toast: '',
            clientSearch: '',
            clientApiService: null,
            clients: [],
            response: '',
            monthFilter: null,
            file: '',
            url: null,
            form: {
                id: '',
                first_name: '',
                last_name: '',
                email: '',
                mobile: '',
                cnic: '',
                address: '',
                image: '',
                formData: null
            },
            foods: [{text: 'Select One', value: null}, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
            show: true,
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);

        const current = new Date();
        this.monthFilter = moment(current).format("MM")

        this.toast = new Toast();
        this.clientApiService = new ClientApiService()
        this.getResults(1);
        this.formData = new FormData();

    },
    methods: {
        moment: function () {
            return moment();
        },
        filterData(num) {
            var number = null;
            if (num || num === 0) {
                number = parseInt(num) + parseInt(this.monthFilter)
            }
            this.getResults(1, number);
        },
        getResults(page, month) {
            var outer_this = this;
            let search = this.clientSearch
            if (typeof page === 'undefined') {
                page = 1;
            }
            if (typeof month === 'undefined') {
                month = null;
            }
            this.clientApiService.list({page, search, month}).then(response => {
                this.response = response.data;
                this.clients = response.data.data.users;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        onSubmit() {
            var outer_this = this;
            for (const field in this.form) {
                if (field === 'image') {
                    continue;
                }
                this.formData.append(field, this.form[field]);
            }

            this.clientApiService.create(this.formData).then(response => {
                this.response = response;
                this.clients = response.data.data;
                if (response.data.status !== 'error') {
                    this.toast.success('Client Add Success!');
                    this.resetForm();
                    this.getResults(1);
                    this.$refs.addForm.click();

                }
            }).catch(error => {
                outer_this.toast.errors(error.response.data);
            });


        },
        resetForm() {
            this.url = null;
            this.form = {
                id: '',
                first_name: '',
                last_name: '',
                email: '',
                mobile: '',
                cnic: '',
                address: '',
                image: [],
                formData: null
            };
        },
        editClient(id) {
            var outer_this = this;
            this.clientApiService.get(id).then(response => {
                this.client = response.data.user
                this.form.id = this.client.id;
                this.form.first_name = this.client.first_name;
                this.form.last_name = this.client.last_name
                this.form.email = this.client.email
                this.form.mobile = this.client.mobile
                this.form.cnic = this.client.cnic
                this.form.address = this.client.address
                if (this.client.image) {
                    this.form.image = this.client.image
                }
                $('#updateClientModal').modal('show')
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        onUpdate() {
            var outer_this = this;
            for (const field in this.form) {
                if (field === 'image') {
                    continue;
                }
                this.formData.append(field, this.form[field]);
            }
            this.clientApiService.update(this.form.id, this.formData).then(function (res) {
                outer_this.toast.success('Client Updated Success!');
                outer_this.getResults(1);
                outer_this.$refs.updateForm.click();
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        deleteClient(id) {
            var outer_this = this;
            this.clientApiService.delete(id).then(response => {
                this.getResults(1);
                outer_this.toast.success('Client Delete Success!');
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
        onFileChange(e) {
            this.formData.delete('image');
            const file = e.target.files[0];
            if (file.size > 1024 * 1024) {
                e.preventDefault();
                this.toast.error('File size must be less then 1 MB');
                return;
            }
            this.formData.append('image', e.target.files[0]);
            this.url = URL.createObjectURL(file);

        },
        clientDetail(client) {
            window.location.href = `/clients/${client.id}`;
        }
    }
}
</script>
<style>
.close {
    z-index: 100;
}
</style>
