<template>
    <div class="container" v-show="selectedClient && selectedClient.id !== null">

        <div class="row">
            <div class="col-md-3 col-sm-4">
                <img :src="selectedClient.image" v-if="selectedClient.image !== null" alt=""
                     width="200px" height="200px"
                     class="d-block mx-auto">
                <img
                    class="d-block mx-auto"
                    :src="'../storage/client/default.jpeg'" v-else alt="" width="200px" height="200px">
            </div>


            <div class="col-md-9 col-sm-8 mt-2">
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr class="text-center" aria-colspan="2" style="border-top: none !important;">
                            <th colspan="2"><h5 class="mt-2">Client Details</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Customer Name:</th>
                            <td class="col-sm-7 font-12">{{ selectedClient.first_name }} {{ selectedClient.last_name }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Phone Number:</th>
                            <td class="col-sm-7 font-12">{{ selectedClient.mobile }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">CNIC:</th>
                            <td class="col-sm-7 font-12">{{ selectedClient.cnic }}</td>
                        </tr>
                        <tr>
                            <th scope="col" class="col-sm-5 font-12">Email:</th>
                            <td class="col-sm-7 font-12">{{ selectedClient.email }}</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</template>
<script>

export default {
    props: ['selectedClient']
}
</script>
<style>
#client-card {
    height: 80vh;
}
</style>
