<template>
    <div class="container" v-show="selectedClient && selectedClient.id !== null">
        <div class="card">
            <div class="card-body">
                <div class="row" v-if="!createOrder">
                    <div class="col-md-12">
                        <div class="client-detail">
                            <ClientDetailComponent :selectedClient="selectedClient"></ClientDetailComponent>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="float-right mr-4">
                            <button class="btn btn-default" @click="goBack">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" v-if="selectedClient.sale.length > 0">
            <div class="card-body">

                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle  font-12">Product</th>
                            <th scope="col" class="align-middle  font-12">Total Installments</th>
                            <th scope="col" class="align-middle  font-12">Total Amount</th>
                            <th scope="col" class="align-middle  font-12">Paid Amount</th>
                            <th scope="col" class="align-middle  font-12">Status</th>
                            <th scope="col" class="align-middle  font-12">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="selectedClient.sale.length > 0" v-for="csale in selectedClient.sale" :key="csale.id">
                            <td class="align-middle  font-12"><a> {{ csale.product.title }}</a></td>
                            <td class="align-middle font-12">{{ csale.installment_months }}</td>
                            <td class="align-middle font-12">{{ csale.amount_with_markup }}</td>
                            <td class="align-middle font-12">{{ parseInt(csale.paid) }}</td>
                            <td class="align-middle font-12">
                                    <span class="badge"
                                          :class="['badge-info', 'badge-success'][csale.status]">
                                        {{ ['Active', 'Complete'][csale.status] }}
                                    </span>
                            </td>
                            <td>
                                <button class="btn btn-info btn-icon btn-round btn-sm m-0" value="Edit"
                                        @click="saleDetails(csale.id)">
                                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import clientApiService from '../../ClientApiService'
import Client from '../../Models/Client';
import Product from '../../Models/Product';
import OrderPage from './OrderPage';
import ClientDetailComponent from './ClientDetailComponent';

import Toast from '../../helper/toast';
export default {
    components: {
        OrderPage,
        ClientDetailComponent
    },
    props: ['id'],
    data() {
        return {
            search: '',
            response: null,
            clientApiService: null,
            selectedClient: new Client(),
            createOrder: false,
            product: new Product(),
            token: null,
            toast: ''
        }
    },
    mounted() {
        this.token = localStorage.getItem('token');
        this.toast = new Toast();
        this.clientApiService = new clientApiService();
        this.getClientPurcahse();
    },
    methods: {
        saleDetails(id) {
            window.location.href = `/sale/${id}`;
        },
        goBack() {
            window.location.href = `/clients`;
        },
        getClientPurcahse() {
            var outer_this = this;
            this.clientApiService.get(this.id + '/purcahse').then(response => {
                this.selectedClient = new Client(response.data.client);
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
        },
    }
}
</script>
