<template>
    <div class="container">
        <ClientDetailComponent :selectedClient="selectedClient"></ClientDetailComponent>
        <ProductDetailComponent :selectedProduct="selectedProduct"></ProductDetailComponent>

        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Installment Months</label>
                        <div class="col-sm-8">
                            {{ sale.installment_months }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Markup Amount</label>
                        <div class="col-sm-8">
                            {{ sale.markup_amount }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Amount With Markup</label>
                        <div class="col-sm-8">
                            {{ parseInt(selectedProduct.price) + parseInt(sale.markup_amount) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Down Payment</label>
                        <div class="col-sm-8">
                            {{ sale.advance }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="card">
                    <div class="card-header text-center">
                        Monthly Payable
                    </div>
                    <div class="card-body typography-line text-center">
                        <h1 class="text-primary"> {{ (monthlyPayable) ? monthlyPayable : 0 }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ClientDetailComponent from "./ClientDetailComponent";
import ProductDetailComponent from "./ProductDetailComponent";
import Product from "../../Models/Product";
import Client from "../../Models/Client";
import Sale from "../../Models/Sale";

export default {
    components: {
        ClientDetailComponent,
        ProductDetailComponent
    },
    props: {
        product: {
            type: Object,
            default() {
                return new Product();
            }
        },
        client: {
            type: Object,
            default() {
                return new Client();
            }
        },
        sale: {
            type: Object,
            default() {
                return new Sale();
            }
        },
        monthlyPayable: null
    },
    data() {
        return {
            selectedProduct: null,
            selectedClient: null
        }
    },
    mounted() {
        this.selectedProduct = this.product;
        this.selectedClient = this.client;
    },
}

</script>
<style>

</style>
