<template>
    <div>
        <!--        Selected Product And Selected Client-->

        <div class="row" v-if="!sale.id">
            <div class="col-md-12 col-sm-12">
                <div class="selected-product-container mt-2"
                     v-if="selectedProduct.id !== null && selectedClient.id === null && showClientList === false">
                    <div class="order-product-section order-section">
                        <ProductDetailComponent :selectedProduct="selectedProduct"></ProductDetailComponent>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="container-fluid mt-2"
                     v-if="selectedProduct.id !== null && this.showClientList === false && selectedClient.id !== null && preview === false">
                    <div class="order-client-section order-section">
                        <ClientDetailComponent :selectedClient="selectedClient"></ClientDetailComponent>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="preview">
            <OrderPreview :client="selectedClient"
                          :product="selectedProduct"
                          :sale="sale"
                          :monthlyPayable="monthlyPayable">
            </OrderPreview>
            <hr v-if="staffs">
            <div class="mt-3 table-responsive-sm" v-if="staffs && selectedStaff == null">
                <div class="col-md-4">
                    <p class="text-center">Select Recovery Staff:</p>
                </div>
                <table class="table table-sm">
                    <thead class="text-primary">
                    <tr>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle">Email</th>
                        <th scope="col" class="align-middle">Mobile</th>
                        <th scope="col" class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="staffs && staffs.length > 0" v-for="staff in staffs" :key="staff.id">
                        <td class="align-middle font-12">{{ staff.name }}</td>
                        <td class="align-middle font-12">{{ staff.email }}</td>
                        <td class="align-middle font-12">{{ staff.mobile }}</td>
                        <td class="align-middle font-12">
                            <button class="btn btn-round btn-primary btn-icon btn-sm m-0"
                                    value="Edit" @click="selectStaff(staff)">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <staff-detail-component v-if="selectedStaff !== null" :staff="selectedStaff"></staff-detail-component>
            <hr>
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-guarantor">Add Guarantor</button>
                </div>
            </div>
            <div class="modal fade" id="add-guarantor" v-if="sale.id === null" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Guarantor</h5>
                            <button type="button" ref="addForm" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="first_name" class="col-4 col-form-label">First Name</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" id="first_name"
                                                   v-model="guarantor.first_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="last_name" class="col-4 col-form-label">Last Name</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" id="last_name"
                                                   v-model="guarantor.last_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="email" class="col-4 col-form-label">Email</label>
                                        <div class="col-8">
                                            <input type="email" class="form-control" id="email"
                                                   v-model="guarantor.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="cnic" class="col-4 col-form-label">CNIC</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" id="cnic"
                                                   v-model="guarantor.cnic">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="mobile" class="col-4 col-form-label">Mobile</label>
                                        <div class="col-8">
                                            <input type="text" class="form-control" id="mobile"
                                                   v-model="guarantor.mobile">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group row">
                                        <label for="address" class="col-4 col-form-label">Address</label>
                                        <div class="col-8">
                                            <textarea id="address" class="form-control" v-model="guarantor.address"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-12 text-right">
                                    <button class="btn btn-primary" @click="addGuarantor">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="table-responsive-sm">
                <table class="table table-sm">
                    <thead class="text-primary">
                    <tr>
                        <th scope="col" class="align-middle">Sr</th>
                        <th scope="col" class="align-middle">Name</th>
                        <th scope="col" class="align-middle">Email</th>
                        <th scope="col" class="align-middle">CNIC</th>
                        <th scope="col" class="align-middle">Mobile</th>
                        <th scope="col" class="align-middle">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="sale.guarantors.length === 0">
                        <td colspan="7">
                            <p class="text-center">No Record Found</p>
                        </td>
                    </tr>
                    <tr v-for="(saleGuarantor, index ) in sale.guarantors" :key="index" v-if="sale.guarantors.length > 0">
                        <td class="align-middle font-12">{{ index + 1 }}</td>
                        <td class="align-middle font-12">{{ saleGuarantor.first_name }} {{ saleGuarantor.last_name }}</td>
                        <td class="align-middle font-12">{{ saleGuarantor.email }}</td>
                        <td class="align-middle font-12">{{ saleGuarantor.cnic }}</td>
                        <td class="align-middle font-12">{{ saleGuarantor.mobile }}</td>
                        <td class="align-middle">
                            <button class="btn btn-round btn-danger btn-icon btn-sm m-0"
                                    @click="removeGuarantor(index)">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- SELECTED PRODUCT END-->
        <!--                Client List Start-->

        <div class="row"
             v-if="selectedClient.id === null && showClientList === true && selectedProduct.id !== null  && sale.id === null">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-6">
                        <div class="input-group  text-right">
                            <input type="text" class="form-control"
                                   name="search" @keyup="getClientList()"
                                   v-model="search" placeholder="Search Client">
                        </div>
                    </div>
                </div>
                <div class="mt-3 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle">Email</th>
                            <th scope="col" class="align-middle">Mobile</th>
                            <th scope="col" class="align-middle">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="clients && clients.length > 0" v-for="client in clients" :key="client.id">
                            <td class="align-middle font-12">{{ client.first_name }} {{ client.last_name }}</td>
                            <td class="align-middle font-12">{{ client.email }}</td>
                            <td class="align-middle font-12">{{ client.mobile }}</td>
                            <td class="align-middle font-12">
                                <button class="btn btn-round btn-primary btn-icon btn-sm m-0"
                                        value="Edit" @click="selectClient(client)">
                                    <i class="fas fa-check"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr v-if="clients && clients.length > 0">
                            <td colspan="4">
                                <pagination class="pt-1" align="center" size="small" :data="response.data.data"
                                            @pagination-change-page="getClientList">
                                </pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!--               End Client List-->

<!--        Make Plan-->
        <div class="create-plan"
             v-if="selectedProduct.id !== null && showClientList === false && selectedClient.id === null && sale.id === null">
            <div class="row mt-4">
                <div class="col-md-12 col-sm-12 container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center text-primary mt-3">Make Plan</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-sm-8">
                            <form>
                                <div class="form-group row">
                                    <label for="installment_months" class="col-sm-4 col-form-label">Installment
                                        Months</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" @input="calculateMonthlyPayable"
                                               v-model="sale.installment_months"
                                               id="installment_months" placeholder="Enter Installment Months">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="markup_amount_percentage" class="col-sm-4 col-form-label">Markup Percentage</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control"
                                               @input="calculatePercentageToAmount"
                                               v-model='sale.markup_percentage'
                                               id="markup_amount_percentage"
                                               placeholder="Markup Percentage">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="markup_amount" class="col-sm-4 col-form-label">Markup Amount</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control"
                                               @input="calculateAmountToPercentage"
                                               v-model='sale.markup_amount'
                                               id="markup_amount"
                                               placeholder="Markup Amount">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="advance" class="col-sm-4 col-form-label">Down Payment</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control"
                                               v-model='sale.advance'
                                               @input="calculateMonthlyPayable"
                                               id="advance"
                                               placeholder="Down Payment">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="card">
                                <div class="card-header text-center">
                                    Monthly Payable
                                </div>
                                <div class="card-body typography-line text-center">
                                    <h1 class="text-primary"> {{ (monthlyPayable) ? monthlyPayable : 0 }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" v-if="sale.id">
            <div class="row">
                <div class="col-12 text-center">
                    <h5>
                        {{ selectedClient.first_name }} {{ selectedClient.last_name }}
                        {{ selectedClient.mobile ? '(' + selectedClient.mobile + ')' : '' }}
                    </h5>
                </div>
            </div>

            <!--            collaps Details-->
            <div class="row">
                <div class="col-md-12 col-sm-12 p-0">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card">
                            <div class="card-header p-2" role="tab" id="headingThree">
                                <div class="row">
                                    <div class="col-md-1 col text-center">
                                        <img :src="selectedProduct.images[0].image"
                                             v-if="selectedProduct.images.length > 0"
                                             height="50px" width="50px"
                                             class="logo"
                                             style="margin: auto"
                                             alt="First slide">
                                        <img :src="'../storage/client/default.jpeg'"
                                             v-else
                                             style="margin: auto"
                                             height="100px" width="100px"
                                             alt="Default" class="logo">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <p style="font-size: 20px;margin-bottom: 0px; font-weight:bolder;">
                                                    {{ selectedProduct.title }} </p>
                                            </div>
                                            <div class="col">
                                        <span style="font-size: 15px" class="text-primary float-right">
                                            Rs: {{ selectedProduct.price }}
                                        </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a class="collapsed font-12" data-toggle="collapse"
                                                   data-parent="#accordion"
                                                   href="#collapseThree" aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    Show More <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="container-fluid">

                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <img :src="selectedClient.image" v-if="selectedClient.image !== null" alt=""
                                                 width="200px" height="200px"
                                                 class="d-block mx-auto mt-3">
                                            <img
                                                class="d-block mx-auto mt-3"
                                                :src="'../storage/client/default.jpeg'" v-else alt="" width="200px"
                                                height="200px">
                                        </div>


                                        <div class="col-md-9 col-sm-8 mt-2">
                                            <div class="mt-2 table-responsive-sm">
                                                <table class="table table-sm">
                                                    <thead class="text-primary">
                                                    <tr class="text-center">
                                                        <th colspan="2"><h5 class="mt-2">Client Details</h5></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="col-sm-6 font-12">{{ selectedClient.first_name }}
                                                            {{ selectedClient.last_name }}
                                                        </td>
                                                        <td class="col-sm-6 font-12">{{ selectedClient.mobile }}</td>

                                                    </tr>
                                                    <tr>
                                                        <td class="col-sm-6 font-12">{{ selectedClient.cnic }}</td>
                                                        <td class="col-sm-6 font-12">{{ selectedClient.email }}</td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4">
                                            <img :src="selectedProduct.images[0].image"
                                                 v-if="selectedProduct.images.length > 0" alt=""
                                                 width="200px" height="200px"
                                                 class="d-block mx-auto">
                                            <img
                                                class="d-block mx-auto"
                                                :src="'../storage/client/default.jpeg'" v-else alt="" width="200px"
                                                height="200px">
                                        </div>
                                        <div class="col-md-9 ml-auto mr-auto">
                                            <div class="row">
                                                <div class="col">
                                                    <p style="font-size: 18px; font-weight:bolder;" class="mb-0">
                                                        {{ selectedProduct.title }} </p>
                                                    <p style="font-size: 12px" class="category mb-0">
                                                        {{ selectedProduct.category.name }} |
                                                        Quantity: {{ selectedProduct.quantity }}
                                                    </p>
                                                </div>

                                            </div>

                                            <div class="mt-2 table-responsive-sm" v-if="selectedProduct.properties">
                                                <table class="table table-sm">
                                                    <tbody>
                                                    <tr v-for="property in selectedProduct.properties">
                                                        <th scope="col font-12" class="col-sm-5">{{ property.key }}</th>
                                                        <td class="col-sm-7 font-12">{{ property.value }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 class="text-primary text-center">Guarantors List</h6>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-12">
                                            <div class="table-responsive-sm">
                                                <table class="table table-sm">
                                                    <thead class="text-primary">
                                                    <tr>
                                                        <th scope="col" class="align-middle">Sr</th>
                                                        <th scope="col" class="align-middle">Name</th>
                                                        <th scope="col" class="align-middle">Email</th>
                                                        <th scope="col" class="align-middle">CNIC</th>
                                                        <th scope="col" class="align-middle">Mobile</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-if="sale.guarantors.length === 0">
                                                        <td colspan="7">
                                                            <p class="text-center">No Record Found</p>
                                                        </td>
                                                    </tr>
                                                    <tr v-for="(saleGuarantor, index ) in sale.guarantors" :key="index" v-if="sale.guarantors.length > 0">
                                                        <td class="align-middle font-12">{{ index + 1 }}</td>
                                                        <td class="align-middle font-12">{{ saleGuarantor.first_name }} {{ saleGuarantor.last_name }}</td>
                                                        <td class="align-middle font-12">{{ saleGuarantor.email }}</td>
                                                        <td class="align-middle font-12">{{ saleGuarantor.cnic }}</td>
                                                        <td class="align-middle font-12">{{ saleGuarantor.mobile }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="add-payment" v-if="sale.id !== null" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Payment</h5>
                            <button type="button" ref="addForm" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            Total Amount:
                                        </div>
                                        <div class="col-8">
                                            {{ selectedPayment.amount }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Total Payed:
                                        </div>
                                        <div class="col-8">
                                            {{ selectedPayment.total_payed }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Due Date:
                                        </div>
                                        <div class="col-8">
                                            {{ selectedPayment.due_date }}
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-4">
                                            Date:
                                        </div>
                                        <div class="col-8">
                                            <datepicker input-class="form-control"
                                                        v-model="selectedPayment.pay_date"></datepicker>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-4">
                                            Pay:
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" value="2"
                                                   v-model="selectedPayment.payable">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Note:
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" value="2"
                                                   v-model="selectedPayment.note">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-primary btn-sm btn-round float-right"
                                                    v-if="selectedPayment.status != 1"
                                                    @click="pay(selectedPayment)">Pay
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="sattlement" v-if="sale.id !== null" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Settlement</h5>
                            <button type="button" ref="addForm" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            Total Amount:
                                        </div>
                                        <div class="col-8">
                                            {{ sale.amount_with_markup }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Total Installments:
                                        </div>
                                        <div class="col-8">
                                            {{ sale.installment_months }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Advance Received:
                                        </div>
                                        <div class="col-8">
                                            {{ sale.advance }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Total paid:
                                        </div>
                                        <div class="col-8">
                                            {{  parseInt(sale.paid) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Payable:
                                        </div>
                                        <div class="col-8">
                                            {{ parseInt(sale.amount_with_markup) - (parseInt(sale.advance) + parseInt(sale.paid)) }}
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-4">
                                            Date:
                                        </div>
                                        <div class="col-8">
                                            <datepicker v-model="sattlment_date" input-class="form-control"></datepicker>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Pay:
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" value="2"
                                                   v-model="sattlment_amount">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button class="btn btn-primary btn-sm btn-round float-right"
                                                    @click="saleComplete()"
                                                    v-if="sale.status != 1">Pay

                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            Pay Payment Modal-->
            <div class="modal fade" id="show-payments" v-if="sale.id !== null" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Payment Details</h5>
                            <button type="button" ref="addForm" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive-sm">
                                        <table class="table table-sm">
                                            <thead>
                                            <tr>
                                                <th class="font-12">Date</th>
                                                <th class="font-12">Amount</th>
                                                <th class="font-12">Note</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="payment in selectedPayment.payments">
                                                <th scope="col-3 font-12">{{(  payment.pay_date) ? payment.pay_date : ''
                                                    }}
                                                </th>
                                                <td class="col-3 font-12">{{ payment.amount_received }}</td>
                                                <td class="col-6 font-12">{{ (payment.note) ? payment.note : '' }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            Skip plan-->

            <div class="modal fade" id="skip-plan" v-if="sale.id !== null" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Skip Plan</h5>
                            <button type="button" ref="addForm" class="close"
                                    data-dismiss="modal" aria-hidden="true">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            Due Date:
                                        </div>
                                        <div class="col-8">
                                            {{ selectedPayment.due_date }}
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="col-4">
                                            Pay:
                                        </div>
                                        <div class="col-8">{{ selectedPayment.payable }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            Note:
                                        </div>
                                        <div class="col-8">
                                            <input type="text" class="form-control" value="2"
                                                   v-model="selectedPayment.note">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-sm btn-round float-right"
                                            v-if="selectedPayment.status != 1"
                                            @click="planSkip(selectedPayment)">skip
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            Plans List-->
            <div class="row payment-container" v-if="sale.id !== null">
                <div class="card">
                    <div class="row">
                        <div class="col-3 typography-line">
                            <p class="pt-3 pl-3 mb-0 font-12" style="font-weight: bold">Total Amount:
                                {{ sale.amount_with_markup }}</p>
                            <p class=" pt-0 pl-3 mb-0 font-12" style="font-weight: bold">Advance Received:
                                {{ parseInt(sale.advance) }}</p>
                        </div>
                        <div class="col-3 typography-line">
                            <p class="pt-3 pl-3 mb-0 font-12" style="font-weight: bold">Amount Paid:
                                {{ parseInt(sale.paid) }}</p>
                            <p class=" pt-0 pl-3 mb-0 font-12" style="font-weight: bold">
                                Remaining Amount: {{ parseInt(sale.amount_with_markup) - parseInt(sale.paid) }}
                            </p>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary mr-5 float-right btn-round" @click="setAccount()">
                                Sattlement
                            </button>
                        </div>
                    </div>
                    <div class="card-body col-md-12 col-sm-12">
                        <div class="table-responsive-sm">
                            <table class="table table-sm">
                                <thead class="text-primary">
                                <tr>
                                    <th scope="col" class="align-middle">Sr</th>
                                    <th scope="col" class="align-middle">Due Date</th>
                                    <th scope="col" class="align-middle">Price</th>
                                    <th scope="col" class="align-middle">Received</th>
                                    <th scope="col" class="align-middle">Payable</th>
                                    <th scope="col" class="align-middle">Status</th>
                                    <th scope="col" class="align-middle">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="sale.plans.length === 0">
                                    <td colspan="7">
                                        <p class="text-center">No Record Found</p>
                                    </td>
                                </tr>
                                <tr v-for="(plan, index ) in sale.plans" :key="plan.id" v-if="sale.plans.length > 0">
                                    <td class="align-middle font-12">{{ index + 1 }}</td>
                                    <td class="align-middle font-12">{{ plan.due_date }}</td>
                                    <td class="align-middle font-12">{{ plan.amount }}</td>
                                    <td class="align-middle font-12">{{ plan.total_payed }}</td>
                                    <td class="align-middle font-12">{{ plan.amount - plan.total_payed }}</td>
                                    <td class="align-middle font-12">
                                        <span class="badge"
                                              :class="['badge-danger', 'badge-success', 'badge-warning', 'badge-warning'][plan.status]">
                                            {{ ['- - -', 'payed', 'partia payed', 'skipped'][plan.status] }}
                                    </span>
                                    </td>
                                    <td class="align-middle" >
                                        <p v-if="plan.status == 3" class="f-12"> {{ plan.skip_note }} </p>
                                        <button v-if="plan.status == 0 || plan.status == 2" class="btn btn-primary btn-icon btn-sm btn-round m-0"
                                                @click="openModal(plan)">
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                        </button>
                                        <button v-if="plan.status == 1 || plan.status == 2"
                                                class="btn btn-success btn-icon btn-sm btn-round m-0"
                                                @click="showPayments(plan)">
                                            <i class="far fa-eye" style="color: white"></i>
                                        </button>
                                        <button v-if="plan.status == 0"
                                                class="btn btn-info btn-icon btn-sm btn-round m-0"
                                                @click="skipPlan(plan)">
                                            <i class="fa fa-forward" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-md-12 text-right">
                <button v-if="selectedClient.id === null && selectedProduct.id !== null && selectSingleClient === false"
                        class="btn btn-primary"
                        @click="nextStep">Next
                </button>
                <button v-if="selectedClient.id !== null && sale.id === null" class="btn btn-primary" @click="addSale"
                        :disabled="shouldCreateOrder">Create Order
                </button>

                <button v-if="selectedClient.id === null && showClientList === true && sale.id === null"
                        class="btn btn-secondary" @click="goToProductDetail">Back
                </button>
                <button v-if="selectedClient.id === null && showClientList === false && sale.id === null"
                        class="btn btn-secondary" @click="goBack">Back
                </button>
                <button
                    v-if="selectedClient.id !== null && selectedProduct.id !== null && showClientList === false && sale.id === null"
                    class="btn btn-secondary" @click="removeSelectedClient">Back
                </button>
                <button v-if="sale.id !== null"
                        class="btn btn-secondary" @click="previousRoute">Back
                </button>
            </div>
        </div>
    </div>
</template>
<script>
import ProductDetailComponent from './ProductDetailComponent';
import ProductApiService from '../../ProductApiService'
import PaymentApiService from '../../PaymentApiService'
import Product from '../../Models/Product';
import SaleApiService from '../../SaleApiService';
import ClientApiService from '../../ClientApiService';
import Sale from '../../Models/Sale';
import Client from '../../Models/Client';
import Staff from '../../Models/Staff';
import Datepicker from 'vuejs-datepicker';
import Vue from "vue";
import Payment from '../../Models/Payment';
import moment from 'moment'
import OrderPreview from "./OrderPreview";
import ClientDetailComponent from './ClientDetailComponent';
import Toast from "../../helper/toast";
import StaffDetailComponent from "../Staff/StaffDetailComponent";

export default {
    components: {
        StaffDetailComponent,
        ClientDetailComponent,
        ProductDetailComponent,
        Datepicker,
        OrderPreview
    },
    props: {
        product: {
            type: Object,
            default() {
                return new Product();
            }
        },
        client: {
            type: Object,
            default() {
                return new Client();
            }
        },
        sale: {
            type: Object,
            default() {
                return new Sale();
            }
        },
        staff: {
            type: Object,
            default() {
                return new Staff();
            }
        },
        staffs: []
    },
    data() {
        return {
            productSearch: '',
            showClientList: false,
            search: '',
            selectSingleClient: false,
            productResponse: null,
            clients: [],
            products: [],
            response: null,
            sattlment_amount: 0,
            sattlment_date: moment.now(),
            monthlyPayable: null,
            createPlan: false,
            productApiService: null,
            selectedProduct: null,
            selectedStaff: null,
            preview: false,
            saleApiService: null,
            clientApiService: null,
            paymentApiService: null,
            selectedClient: null,
            token: null,
            planForSkip: null,
            note: '',
            placeOrder: false,
            selectedPayment: new Payment(),
            guarantor: {
                first_name: null,
                last_name: null,
                email: null,
                cnic: null,
                mobile: null,
                address: null
            }
        }
    },
    mounted() {
        this.token = localStorage.getItem('token');
        this.productApiService = new ProductApiService();
        this.toast = new Toast();

        this.saleApiService = new SaleApiService();
        this.clientApiService = new ClientApiService();
        this.paymentApiService = new PaymentApiService();

        this.selectedProduct = this.product;
        this.selectedClient = this.client;
        this.getClientList(1);
    },
    methods: {
        getClientList(page) {
            var outer_this = this;
            let search = this.search
            this.clientApiService.list({page, search}).then(response => {
                this.response = response;
                this.clients = response.data.data.users;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        goBack() {
            window.location.href = `/products`;
        },
        previousRoute() {
            javascript:history.go(-1)
        },
        addGuarantor() {
            let values = {
                first_name: this.guarantor.first_name,
                last_name: this.guarantor.last_name,
                email: this.guarantor.email,
                mobile: this.guarantor.mobile,
                cnic: this.guarantor.cnic,
                address: this.guarantor.address
            }
            this.sale.guarantors.push(values);
            $('#add-guarantor').modal('hide')
            this.guarantor.first_name = null;
            this.guarantor.last_name = null;
            this.guarantor.email = null;
            this.guarantor.mobile = null;
            this.guarantor.cnic = null;
            this.guarantor.address = null;

          console.log(this.sale.guarantors);
        },
        removeGuarantor(index) {
            this.sale.guarantors.splice(this.sale.guarantors.indexOf(index), 1);
        },
        calculatePercentageToAmount(){
            var amount = (parseInt(this.sale.markup_percentage)*parseInt(this.selectedProduct.price)) / 100;
            this.sale.markup_amount = amount;
            this.calculateMonthlyPayable();
        },
        calculateAmountToPercentage() {
            var percentage = (parseInt(this.sale.markup_amount)*100) / parseInt(this.selectedProduct.price);
            this.sale.markup_percentage = percentage.toFixed(1);
            this.calculateMonthlyPayable();
        },
        calculateMonthlyPayable() {
            // this.sale.amount_with_markup = parseInt(this.sale.markup_amount) + parseInt(this.selectedProduct.price)
            let data = {
                price: this.selectedProduct.price,
                advance: (this.sale.advance) ? this.sale.advance : 0,
                installment_months: (this.sale.installment_months) ? this.sale.installment_months : 12,
                markup_percentage: (this.sale.markup_percentage) ? this.sale.markup_percentage : 0
            };
            this.saleApiService.calculate(data).then(response => {
                this.monthlyPayable = response.data.installment
            })

            this.getClientList();
        },
        selectClient(client) {
            this.selectedClient = new Client(client);
            this.preview = !this.preview;
            this.showClientList = false
        },
        goToProductDetail() {
            this.selectSingleClient = false;
            this.showClientList = false
            this.selectedClient = null;
            this.selectedClient = new Client();
        },
        removeSelectedClient() {
            this.selectedClient = null;
            this.preview = !this.preview;
            this.selectedClient = new Client();
            this.showClientList = true;
        },
        addSale() {
            if (this.selectedClient.id === null) {
                this.toast.error('Please Select a Valid Client.')
                return;
            }
            if (this.selectedProduct.id === null) {
                this.toast.error('Please Select a Valid Product.')
                return;
            }

            this.placeOrder = true;
            this.sale.client = this.selectedClient;
            this.sale.product = this.product;
            this.sale.user = this.selectedStaff;
            this.sale.price = this.product.price;
            this.sale.markup_percentage = this.sale.markup_percentage;
            var total_amount = parseInt((this.sale.markup_amount / 100) * this.product.price) + this.product.price;
            this.sale.amount_with_markup = total_amount;
            this.sale.installment_date = this.currentDate();
            this.sale.purchase_date = this.currentDate();
            this.sale.setProduct(this.selectedProduct);
            this.saleApiService.create(this.sale.getRequestFormData()).then(response => {
                this.toast.success('Order Success.')
                // window.location.href = `/sales`;
            }).catch(function (error) {
                this.toast.errors(error.response.data);
            });
        },
        saleComplete() {
            var outer_this = this;
            if(!this.sattlment_date){
                this.toast.error('Please Select a Valid Date')
                return;
            }
            if(this.sattlment_amount <= 0){
                this.toast.error('Please Select a valid amount')
                return;
            }
            let data = {
                sale_id: this.sale.id,
                amount_received: this.sattlment_amount,
                pay_date: this.sattlment_date
            };
            this.saleApiService.saleComplete(data).then(response => {
                outer_this.toast.success('Order Complete Success.')
                window.location.href = `/sales`;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });

        },
        salePreview() {
            this.preview = !this.preview
        },
        nextStep() {
            this.showClientList = true;
            this.selectSingleClient = !this.selectSingleClient;
        },
        currentDate() {
            const current = new Date();
            const date = moment(current).format("YYYY-MM-DD HH:mm:ss")
            return date;
        },
        removeSelectedProduct() {
            this.selectedProduct = null;
            this.selectedProduct = new Product;
        },
        pay() {
            var outer_this = this;
            if(!this.selectedPayment.pay_date){
                this.toast.error('Please Select a Valid Date')
                return;
            }
            if(this.selectedPayment.payable <= 0){
                this.toast.error('Please Select a valid amount')
                return;
            }

            this.selectedPayment.pay_date = this.customFormatter(this.selectedPayment.pay_date);
            this.selectedPayment.sale = this.sale;
            this.paymentApiService.create(this.selectedPayment.getRequestFormData()).then(response => {
                outer_this.toast.success('Payment Success.')
                outer_this.$emit('clicked');
                $('#add-payment').modal('hide')
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        setAccount() {
            $('#sattlement').modal('show');
        },
        openModal(plan) {
            this.selectedPayment = null;
            this.selectedPayment = new Payment(plan);
            $('#add-payment').modal('show')
        },
        showPayments(plan) {
            this.selectedPayment = null;
            this.selectedPayment = new Payment(plan);
            $('#show-payments').modal('show')
        },
        skipPlan(plan) {
            this.selectedPayment = new Payment(plan);
            $('#skip-plan').modal('show')
        },
        selectStaff(staff) {
            this.selectedStaff = staff;
        },
        planSkip(plan) {
            var outer_this = this;
            this.saleApiService.skipPlan(plan.id,plan.note).then(response => {
                this.toast.success('Skipped Success');
                $('#skip-plan').modal('hide')
                outer_this.$emit('clicked');
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        payable(plan) {
            return plan.amount - plan.total_payed;
        },
        updatePayment(payment) {
            return this.paymentApiService.update(payment.id, payment).then(response => console.log(response));
        },
        customFormatter(date) {
            return moment(date).format('YYYY-MM-DD HH:mm:ss');
        }
    },
    computed: {
        shouldCreateOrder() {
            return this.selectedClient.id === null || this.selectedProduct.id === null || this.monthlyPayable === null || this.sale.guarantors.length === 0
        }
    }
}
</script>
<style>
.order-section {
    position: relative;
}

.order-section-cancel {
    position: absolute;
    z-index: 2;
    right: 25px;
    top: 15px;
    color: red;
}

img.logo {
    height: 50px !important;
    width: 50px !important;
    border-radius: 50px;
    object-fit: cover;
}

img.d-block {
    height: 100px !important;
    width: 100px !important;
    object-fit: cover;
    border-radius: 100px !important;
}
</style>
