<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5>Today Payments</h5>
                    </div>
                </div>
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle font-12">Sr</th>
                            <th scope="col" class="align-middle font-12">Client Name</th>
                            <th scope="col" class="align-middle font-12">Mobile</th>
                            <th scope="col" class="align-middle font-12">Installment Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="payments.length > 0" v-for="(item, index) in payments" :key="item.id">
                            <td class="align-middle font-12">
                                {{ index + 1}}
                            </td>
                            <td class="align-middle font-12">
                                {{ item.sale.client.first_name }} {{ item.sale.client.last_name }}
                            </td>
                            <td class="align-middle font-12">{{ item.sale.client.mobile }}</td>
                            <td class="align-middle font-12">{{ item.plan.installment_date }}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr v-if="response">
                                <td colspan="4">
                                    <pagination class="pt-3" align="center" size="small" :data="response.data"
                                                @pagination-change-page="getResults">
                                    </pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import PaymentApiService from "../../PaymentApiService";

export default {
    data() {
        return {
            paymentApiService: null,
            payments: [],
            response: null
        }
    },
    mounted() {

        this.paymentApiService = new PaymentApiService();
        this.getResults();
    },
    methods: {
        getResults() {
            this.paymentApiService.todayPayments().then(response => {
                this.response = response.data
                this.payments = response.data.data.payments
            });
        },
    }

}
</script>
