<template>
    <div class="container" v-if="product">
        <div class="card">
            <div class="card-body">
                <OrderPage  :product="product" :staffs="staffs"></OrderPage>
            </div>
        </div>
    </div>
</template>
<script>
import ProductApiService from '../../ProductApiService'
import Product from '../../Models/Product';
import OrderPage from './OrderPage';
import ProductDetailComponent from './ProductDetailComponent'
import Toast from "../../helper/toast";
import StaffApiService from "../../StaffApiService";

export default {
    components: {
        OrderPage,
        ProductDetailComponent
    },
    props: ['id', 'someFunctionParent', 'token'],
    data() {
        return {
            sale: null,
            search: '',
            clients: [],
            staffs: [],
            response: null,
            product: null,
            monthlyPayable: null,
            createPlan: false,
            productApiService: null,
            saleApiService: null,
            clientApiService: null,
            staffApiService: null,
            selectedClient: null,
            createOrder: false,
            toast: '',
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);
        this.toast = new Toast();
        this.staffApiService = new StaffApiService();
        this.productApiService = new ProductApiService();
        this.getData();
        this.getStaff();
    },
    methods: {
        goBack() {
            window.location.href = `/products`;
        },
        getData() {
            var outer_this = this;
            this.productApiService.get(this.id).then(response => {
                outer_this.product = new Product(response.data.product);
                if(outer_this.product.properties){
                    outer_this.product.properties = JSON.parse(outer_this.product.properties)
                }
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        getStaff() {
            this.staffApiService.staffList().then(response => {
                this.response = response.data;
                this.staffs = response.data.data.staffs;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        placeOrder() {
            this.createOrder = !this.createOrder;
        },
        cancleOrder() {
            this.createOrder = false;
        }

    }
}
</script>
