<template>
    <div class="container" v-if="selectedProduct && selectedProduct.id !== null">
        <div class="row">
            <div class="col-md-3 col-sm-4">
                    <img :src="selectedProduct.images[0].image" v-if="selectedProduct.images.length > 0" alt=""
                         width="200px" height="200px"
                         class="d-block mx-auto">
                    <img
                        class="d-block mx-auto"
                        :src="'../storage/client/default.jpeg'" v-else alt="" width="200px" height="200px">
            </div>
            <div class="col-md-9 ml-auto mr-auto">
                <div class="row">
                    <div class="col-6">
                        <p style="font-size: 22px" class="title pt-1"> {{ selectedProduct.title }} </p>
                        <p style="font-size: 12px" class="category">{{ selectedProduct.category.name }} |
                            Quantity: {{ selectedProduct.quantity }}
                        </p>
                    </div>
                    <div class="col-6">
                        <span style="font-size: 18px" class="text-primary float-right">Rs: {{ selectedProduct.price }}</span>
                    </div>
                </div>

                <h5 class="text-dark text-center">Properties</h5>
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <tbody>
                        <tr v-for="property in selectedProduct.properties">
                            <th scope="col" class="col-sm-5 font-12">{{ property.key }}</th>
                            <td class="col-sm-7 font-12">{{ property.value }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ['selectedProduct'],
}
</script>
