<template>
    <div class="container ">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7 col-sm-12 pt-2">
                        <span class="badge pe-auto badge-info" @click="filterData(-1)">{{
                                moment(monthFilter, 'MM').subtract(1, 'M').format('MMMM')
                            }}</span>
                        <span class="badge badge-warning"
                              @click="filterData(  0)">{{ moment(monthFilter, 'MM').format('MMMM') }}</span>
                        <span class="badge badge-success"
                              @click="filterData( 1)">{{ moment(monthFilter, 'MM').add(1, 'M').format('MMMM') }}</span>
                        <span class="badge badge-danger" @click="filterData()">All</span>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <input type="text"
                                   class="col-md-8 col-sm-12 form-control" @keyup="getResults(1)"
                                   v-model="productSearch"
                                   placeholder="Search Product"
                            >
                        </div>
                    </div>

                    <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" v-if="this.selectedProduct.id">Update Product</h5>
                                    <h5 class="modal-title" v-else>Add New Product</h5>
                                    <button type="button" ref="addForm" class="close" @click="resetForm"
                                            data-dismiss="modal" aria-hidden="true">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 d-flex justify-content-center">
                                                <label for="image"
                                                       class="rounded mx-auto d-block">
                                                    <img v-if="url" :src="url" alt="" class="img-responsive"
                                                         style="height: 100px; width: 100px">
                                                    <img class="img-responsive" style="height: 100px; width: 100px"
                                                         v-else-if="selectedProduct.id && selectedProduct.images.length > 0"
                                                         :src="selectedProduct.images[0].image">
                                                    <img v-else
                                                         class="img-responsive"
                                                         :src="'../storage/client/default.jpeg'"
                                                         style="height: 100px; width: 100px">
                                                </label>
                                                <input type="file" id="image" style="display: none"
                                                       class="form-control-file align-self-center"
                                                       v-on:change="onFileChange">
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="title" class="ml-3 font-12">Title</label>
                                                    <input type="text" v-model="selectedProduct.title"
                                                           min="5"
                                                           class="form-control" id="title"
                                                           placeholder="Enter Title">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="price" class="ml-3 font-12">Price</label>
                                                    <input type="text" v-model="selectedProduct.price"
                                                           class="form-control" id="price"
                                                           placeholder="Enter Price">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="quantity" class="ml-3 font-12">Quantity</label>
                                                    <input type="text" v-model="selectedProduct.quantity"
                                                           class="form-control"
                                                           id="quantity" placeholder="Enter Quantity">
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group ">
                                                    <label for="vendor" class="ml-3 font-12">Vendor</label>
                                                    <input type="text" class="form-control"
                                                           v-model="selectedProduct.vendor.name"
                                                           id="vendor" placeholder="Enter Vendor">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="categories" class="ml-3 font-12">Category</label>
                                                    <input v-model="category" class="form-control"
                                                           list="categories"
                                                           v-on:input="validateSelection(category)"
                                                    />
                                                    <datalist id="categories">
                                                        <option :value="category.name"
                                                                v-for="category in categories"
                                                                :key="category.id">{{ category.name }}
                                                        </option>
                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="content" class="ml-3 font-12">Description</label>
                                                    <textarea class="form-control" v-model="selectedProduct.content"
                                                              rows="3"
                                                              id="content"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h5>Properties</h5>
                                            </div>
                                        </div>
                                        <div class="form-row justify-content-center align-items-center">
                                            <div class="mt-2 form-inline"
                                                 v-for="(item, index) in selectedProduct.properties"
                                                 v-if="properties !== null || selectedProduct.properties !== null">

                                                <div class="form-group mx-sm-3">
                                                    <input type="text" v-model="item.key" class="form-control mb-1"
                                                           placeholder="Lable">
                                                </div>
                                                <div class="form-group mx-sm-3">
                                                    <input type="text" v-model="item.value"
                                                           class="form-control mb-1"
                                                           placeholder="Value">
                                                </div>
                                                <button type="button" class="close text-danger" aria-label="Close"
                                                        v-on:click="removeProperty(index)">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="form-inline mt-2 ">
                                                <div class="form-group mx-sm-3">
                                                    <input type="text" v-model="propertyKey"
                                                           class="form-control mb-1"
                                                           placeholder="Label">
                                                </div>
                                                <div class="form-group mx-sm-3">
                                                    <input type="text" v-model="propertyValue"
                                                           class="form-control mb-1"
                                                           placeholder="Value">
                                                </div>
                                                <i class="now-ui-icons ui-1_simple-add text-success"
                                                   v-on:click="addProperty(propertyKey, propertyValue)"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="float-right mr-4">
                                            <button type="button" @click="createProduct" class="btn btn-primary ">
                                                Submit
                                            </button>
                                            <button type="button" class="btn btn-secondary" @click="resetForm">Clear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button data-target="#add-product-modal" class="btn btn-primary float-right btn-round mt-0"
                                data-toggle="modal">
                            <b>Add New Product</b>
                        </button>
                    </div>
                </div>

                <div>
                    <div class="mt-1 table-responsive-sm">
                        <table class="table table-sm">
                            <thead class="text-primary">
                            <tr>
                                <th scope="col" class="align-middle font-12">Title</th>
                                <th scope="col" class="align-middle font-12">Price</th>
                                <th scope="col" class="align-middle font-12">Category</th>
                                <th scope="col" class="align-middle font-12">Vendor</th>
                                <th scope="col" class="align-middle font-12">Quantity</th>
                                <th scope="col" class="align-middle font-12">Order</th>
                                <th scope="col" class="align-middle font-12">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in products" :key="product.id" v-if="products.length > 0">
                                <td class="align-middle font-12">
                                    <a class="clickable-text"
                                       @click="productDetail(product)"> {{ product.title }}
                                    </a>
                                </td>
                                <td class="align-middle font-12">{{ product.price }}</td>
                                <td class="align-middle font-12">{{ product.category.name }}</td>
                                <td class="align-middle font-12">{{ product.vendor.name }}</td>
                                <td class="align-middle font-12">{{ product.quantity }}</td>
                                <td>
                                    <button class="btn btn-info btn-icon btn-round btn-sm m-0"
                                            @click="productDetail(product)">
                                        <i class="now-ui-icons shopping_cart-simple"></i>
                                    </button>
                                </td>
                                <td>
                                    <button @click="selectProduct(product)"
                                            class="btn btn-primary btn-icon btn-round btn-sm m-0">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                    </button>
                                    <button class="btn btn-danger btn-round btn-icon btn-sm m-0"
                                            @click="deleteProduct(product)">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7" v-if="products.length > 0">
                                    <pagination class="pt-3" align="center" size="small" :data="response.data.data"
                                                @pagination-change-page="getResults">
                                    </pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ProductApiService from '../../ProductApiService'
import CategoryApiService from "../../CategoryApiService";
import Product from '../../Models/Product';
import {required, minLength} from 'vuelidate/lib/validators'
import Toast from '../../helper/toast';
import moment from "moment";

export default {
    props: ['token'],
    data() {
        return {
            productSearch: '',
            products: [],
            selectedProduct: new Product(),
            response: null,
            productApiService: null,
            url: null,
            categoryApiService: null,
            categories: [],
            category: '',
            properties: [],
            propertyKey: '',
            monthFilter: null,
            propertyValue: '',
            toast: ''
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);
        this.toast = new Toast();
        this.productApiService = new ProductApiService();
        const current = new Date();
        this.monthFilter = moment(current).format("MM")
        this.categoryApiService = new CategoryApiService();
        this.selectedProduct = new Product();
        this.getResults();
        this.getCategory('');
    },
    validations: {
        selectedProduct: {
            title: {
                required,
                minLength: minLength(4)
            }
        }
    },
    methods: {
        moment: function () {
            return moment();
        },
        filterData(num) {
            var number = null;
            if(num || num ===0){
                number = parseInt(num) + parseInt(this.monthFilter)
            }
            this.getResults(1, number);
        },
        getResults(page, month) {
            var outer_this = this;
            let search = this.productSearch
            if (typeof page === 'undefined') {
                page = 1;
            }
            if (typeof month === 'undefined') {
                month = null;
            }
            this.productApiService.list({page, search, month}).then(response => {
                this.response = response;
                this.products = response.data.data.products;
            }).catch(error => {
                outer_this.toast.errors(error.response.data);
            });
        },
        createProduct() {
            var outer_this = this;
            if (this.selectedProduct.id !== null) {
                this.productApiService.update(this.selectedProduct.id, this.selectedProduct.addMethodKeyInRequest('PUT').getRequestFormData()).then(response => {
                    outer_this.toast.success('Product Update Success!');
                    outer_this.$refs.addForm.click();
                    outer_this.resetForm();
                    outer_this.getResults(1);
                }).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            } else {
                this.productApiService.create(this.selectedProduct.getRequestFormData()).then(response => {
                    outer_this.toast.success('Product Added Success!');
                    outer_this.$refs.addForm.click();
                    outer_this.resetForm();
                    outer_this.getResults(1);
                }).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            }
        },
        selectProduct(product) {
            this.selectedProduct = new Product(product);
            this.category = this.selectedProduct.category.name;
            this.selectedProduct.properties = JSON.parse(this.selectedProduct.properties)
            $('#add-product-modal').modal('show')
        },
        deleteProduct(product) {
            var outer_this = this;
            this.productApiService.delete(product.id).then(response => {
                outer_this.getResults();
                outer_this.toast.success('Product Delete Success!');
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        resetForm() {
            this.selectedProduct = new Product();
            this.url = null;
            this.category = '';
        },
        onFileChange(e) {

            if (this.selectedProduct.images.length > 0) {
                this.selectedProduct.images.splice(0);
            }
            const file = e.target.files[0];
            if (file.size > 1024 * 1024) {
                e.preventDefault();
                this.toast.error('File size must be less then 1 MB');
                return;
            }
            this.selectedProduct.appendImage('images[]', e.target.files[0]);
            this.url = URL.createObjectURL(file);
        },
        productDetail(product) {
            window.location.href = `/product/${product.id}`;
        },
        getCategory(search) {
            var outer_this = this;
            this.categoryApiService.list({search}).then(response => {
                this.categories = response.data.data
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        validateSelection(value) {
            this.properties = []
            let category = this.categories.filter(
                (element) => element.name === this.category
            );

            if (category.length === 1) {
                this.selectedProduct.category = category[0];
                this.selectedProduct.properties = JSON.parse(this.selectedProduct.category.properties);
            } else {
                this.selectedProduct.category.name = this.category
                this.selectedProduct.category.properties = []
                this.selectedProduct.properties = [];
            }

        },
        addProperty(key, value) {
            if (key === '' || value === '') {
                this.toast.error('Label or Value is Invalid');
                return;
            }
            let property = {key: key, value: value}
            this.selectedProduct.properties.push(property)
            this.propertyKey = ''
            this.propertyValue = ''
        },
        removeProperty(index) {
            this.selectedProduct.properties.splice(this.selectedProduct.properties.indexOf(index), 1);
        }
    }
}
</script>
<style>
input.dropdown-input, .dropdown-content {
    width: 100% !important;
    min-width: 100% !important;
}
</style>
