<template>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body" v-if="reports">
                        <div class="row mb-4">
                            <div class="col-12">
                                <span class="badge pe-auto badge-info" @click="filterData(-1)">{{
                                        moment(monthFilter, 'MM').subtract(1, 'M').format('MMMM')
                                    }}</span>
                                <span class="badge badge-warning"
                                      @click="filterData(  0)">{{ moment(monthFilter, 'MM').format('MMMM') }}</span>
                                <span class="badge badge-success" @click="filterData( 1)">{{
                                        moment(monthFilter, 'MM').add(1, 'M').format('MMMM')
                                    }}</span>
                                <span class="badge badge-danger" @click="filterData()">All</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="card  bg-warning">
                                    <div class="card-body">
                                        <h5 class="text-white mb-0">
                                <span class="float-right">
                                    {{ (reports.recovery) ? reports.recovery : 0 }}
                                    <i class="fa fa-user ml-2"></i></span></h5>
                                        <p class="mb-0 text-white small-font font-12">Recovery</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card bg-info">
                                    <div class="card-body">
                                        <h5 class="text-white mb-0">
                                <span class="float-right">
                                        {{ (reports.total_sales) ? reports.total_sales : 0 }}
                                    <i class="fa fa-shopping-basket ml-2"></i></span></h5>
                                        <p class="mb-0 text-white small-font font-12">Total Sale </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card bg-danger">
                                    <div class="card-body">
                                        <h5 class="text-white mb-0">
                                <span class="float-right">
                                        {{ (reports.new_order) ? reports.new_order : 0 }}
                                    <i class="fa fa-eye ml-2"></i></span></h5>
                                        <p class="mb-0 text-white small-font font-12">New Orders </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card bg-success">
                                    <div class="card-body">
                                        <h5 class="text-white mb-0">
                                <span class="float-right">
                                    {{ (reports.close_sales) ? reports.close_sales : 0 }}
                                    <i class="fa fa-check"></i></span></h5>
                                        <p class="mb-0 text-white small-font font-12">Complete Orders </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Toast from '../../helper/toast';
import ReportApiService from "../../ReportApiService";
import moment from "moment";

export default {
    props: ['token'],
    data() {
        return {
            reportApiService: null,
            toast: null,
            reports: null,
            monthFilter: null
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);

        this.reportApiService = new ReportApiService();
        this.toast = new Toast();
        const current = new Date();
        this.monthFilter = moment(current).format("MM")
        this.getResults();
    },
    methods: {
        moment: function () {
            return moment();
        },
        filterData(num) {
            var number = '';
            if (num || num === 0) {
                number = parseInt(num) + parseInt(this.monthFilter)
            }
            this.getResults(number);
        },
        getResults(month) {

            var outer_this = this;
            if (typeof month === 'undefined') {
                month = '';
            }
            this.reportApiService.filterReport(month).then(response => {
                this.reports = response.data.data;
                console.log(this.reports);
            }).catch(error => {
                outer_this.toast.errors(error.response.data);
            });
        },
    }
}
</script>
