<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h6 class="p-2 text-center">Sales List</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 pt-2">
                        <span class="badge pe-auto badge-info" @click="filterData(-1)">{{ moment(monthFilter, 'MM').subtract(1, 'M').format('MMMM') }}</span>
                        <span class="badge badge-warning" @click="filterData(  0)">{{ moment(monthFilter, 'MM').format('MMMM') }}</span>
                        <span class="badge badge-success" @click="filterData( 1)">{{ moment(monthFilter, 'MM').add(1, 'M').format('MMMM') }}</span>
                        <span class="badge badge-danger" @click="filterData()">All</span>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="form-group">
                            <input type="text"
                                   class="col-md-8 col-sm-12 form-control mt-1 float-right" @keyup="getResults(1)"
                                   v-model="saleSearch"
                                   placeholder="Search Client"
                            >
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-12 text-center">
                        <span class="custom-button fw-bold" :class="{ 'bg-primary': statusIs}"
                              @click.prevent="getResults(1,'active')">Active</span>
                        <span class="custom-button fw-bold" :class="{ 'bg-primary': !statusIs}"
                              @click.prevent="getResults(1,'complete')">Complete</span>
                    </div>
                </div>
                <!--                <button href="btn btn-default" @click.prevent="getResults(1,'active')">Active</button>-->
                <!--                <button href="btn btn-default" @click.prevent="getResults(1,'complete')">Complete</button>-->

                <div class="mt-3 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle">Client</th>
                            <th scope="col" class="align-middle">Product</th>
                            <th scope="col" class="align-middle">Price</th>
                            <th scope="col" class="align-middle">Advance</th>
                            <th scope="col" class="align-middle">Status</th>
                            <th scope="col" class="align-middle">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="!sales">
                            <td colspan="6">
                                <p class="text-center">No Record Found</p>
                            </td>
                        </tr>

                        <tr v-for="sale in sales" :key="sale.id" v-if="sales && sales.length > 0">
                            <td class="align-middle font-12">{{ (sale.client) ? sale.client.first_name : '' }}
                                {{(sale.client) ? sale.client.last_name : ''}}
                            </td>
                            <td class="align-middle font-12">{{ sale.product.title }}</td>
                            <td class="align-middle font-12">{{ sale.price }}</td>
                            <td class="align-middle font-12">{{ sale.advance }}</td>
                            <td class="align-middle font-12">
                                <span class="badge"
                                      :class="['badge-info', 'badge-success'][sale.status]">
                                    {{ ['Active', 'Complete'][sale.status] }}
                                </span>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-round btn-primary btn-icon btn-sm m-0" @click="selectSale(sale)">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
                                <button class="btn btn-round btn-danger btn-icon btn-sm m-0"
                                        @click="deleteProduct(sale)">
                                    <i class="now-ui-icons ui-1_simple-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr v-if="sales && sales.length > 0">
                            <td colspan="6">
                                <pagination class="pt-3" align="center" size="small" :data="response.data"
                                            @pagination-change-page="getResults">
                                </pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <SaleDetails v-if="selectedSale.id" :selectedSale="selectedSale"></SaleDetails>
        </div>
    </div>
</template>
<script>
import SaleApiService from '../../SaleApiService'
import Sale from '../../Models/Sale';
import OrderPage from './OrderPage';
import SaleDetails from './SaleDetails';
import Toast from "../../helper/toast";
import moment from "moment";

export default {
    components: {
        OrderPage,
        SaleDetails,
    },
    props: ['token'],
    data() {
        return {
            editOrder: false,
            selectedSale: new Sale(),
            response: null,
            monthFilter: null,
            saleSearch: null,
            status: 'active',
            saleApiService: null,
            sales: []
        }
    },
    mounted() {
        if (this.token) {
            localStorage.setItem('token', this.token);
        }
        const current = new Date();
        this.monthFilter = moment(current).format("MM")
        this.saleApiService = new SaleApiService();
        this.toast = new Toast();
        this.getResults();
    },
    methods: {
        moment: function () {
            return moment();
        },
        filterData(num) {
            var number = null;
            if (num || num === 0) {
                number = parseInt(num) + parseInt(this.monthFilter)
            }
            this.getResults(1, this.status, number);
        },
        getResults(page, status, month) {
            var outer_this = this;
            var search = this.saleSearch;
            if (!status) {
                status = this.status;
            } else {
                this.status = status
            }
            if (typeof month === 'undefined') {
                month = null;
            }
            if (typeof page === 'undefined') {
                page = 1;
            }
            this.saleApiService.list({page, search, status, month}).then(response => {
                outer_this.sales = response.data.data.sales.map(sale => new Sale(sale));
                outer_this.response = response.data;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        createProduct() {
            var outer_this = this;
            if (this.selectedSale.id !== null) {
                this.saleApiService.update(this.selectedSale.id, this.selectedSale.addMethodKeyInRequest('PUT').getRequestFormData())
                    .then(response => {
                        outer_this.toast.success('Product Updated Successfully.')
                    }).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            } else {
                this.saleApiService.create(this.selectedSale.getRequestFormData()).then(response => {
                        outer_this.toast.success('Product Created Successfully.')

                    }
                ).catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });
            }
            this.getResults();
            this.resetForm();
        },
        selectSale(sale) {
            window.location.href = `/sale/${sale.id}`;
        },
        deleteProduct(sale) {
            var outer_this = this;
            this.saleApiService.delete(sale.id).then(response => {
                outer_this.getResults();
                outer_this.toast.success('Product Deleted Successfully.')
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        resetForm() {
            this.selectedSale = new Sale();
        },
    },
    computed: {
        statusIs() {
            return (this.status === 'active') ? true : false;
        }
    }
}
</script>
<style>
.custom-button {
    padding: 7px 50px;
    background-color: #c5c5c5;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
</style>
