<template>
    <OrderPage v-if="selectedSale.id" :sale="selectedSale" :product="selectedSale.product"
               :client="selectedSale.client" @clicked="getData"></OrderPage>
</template>
<script>
import OrderPage from './OrderPage';
import SaleApiService from '../../SaleApiService';
import Sale from '../../Models/Sale';
import Client from "../../Models/Client";
import Toast from "../../helper/toast";

export default {
    components: {
        OrderPage
    },
    props: ['id'],
    data() {
        return {
            toast: '',
            saleApiService: null,
            selectedSale: new Sale(),
        }
    },
    mounted() {
        this.saleApiService = new SaleApiService();
        this.toast = new Toast();
        this.getData();
    },
    methods: {
        getData() {
            var outer_this = this;
            this.saleApiService.get(this.id).then(response => {
                this.selectedSale = new Sale(response.data.sale);
                this.selectedSale.product.properties = JSON.parse(this.selectedSale.product.properties)
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        }

    }
}
</script>
<style>
</style>
