<template>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="mt-2 table-responsive-sm">
                    <table class="table table-sm">
                        <thead class="text-primary">
                        <tr>
                            <th scope="col" class="align-middle font-12">Sr.</th>
                            <th scope="col" class="align-middle font-12">Template</th>
                            <th scope="col" class="align-middle font-12">Status</th>
                            <th scope="col" class="align-middle font-12">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="templates.length > 0" v-for="(template,index) in templates" :key="template.id">
                            <td class="align-middle font-12">
                                {{ index + 1 }}
                            </td>
                            <td class="align-middle font-12">
                                <a @click="clientDetail(template)" class="clickable-text">
                                    {{ template.type }}
                                </a>
                            </td>
                            <td class="align-middle font-12">{{ template.status }}</td>
                            <td>
                                <button class="btn btn-info btn-icon btn-round btn-sm m-0" value="Edit"
                                        @click="editTemplate(template)">
                                    <i class="now-ui-icons ui-2_settings-90"></i>
                                </button>
<!--                                <button class="btn btn-danger btn-icon btn-round btn-sm m-0" value="Delete"-->
<!--                                        @click="deleteTemplate(template.id)">-->
<!--                                    <i class="now-ui-icons ui-1_simple-remove"></i>-->
<!--                                </button>-->
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="show-template" v-if="selectedTemplate && selectedTemplate.id !== null" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Template Details</h5>
                        <button type="button" ref="addForm" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        Template For:
                                    </div>
                                    <div class="col-8">
                                        {{ selectedTemplate.type }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Message:
                                    </div>
                                    <div class="col-8">
                                        {{ selectedTemplate.message }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Status:
                                    </div>
                                    <div class="col-8">
                                        {{ selectedTemplate.status }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="update-template" v-if="selectedTemplate && selectedTemplate.id !== null" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Template</h5>
                        <button type="button" ref="addForm" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        Template For:
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" value="2"
                                               v-model="selectedTemplate.type">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        Message:
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control" value="2"
                                               v-model="selectedTemplate.message">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-sm btn-round float-right"
                                                @click="updateTemplate()">
                                            Update
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Toast from "../../helper/toast";
import SMSTemplateApiService from "../../SMSTemplateApiService";
import SMSTemplate from "../../Models/SMSTemplate";

export default {
    props: ['token'],
    data() {
        return {
            smsTemplateApiService: null,
            templates: null,
            response: null,
            selectedTemplate: null,
            formData: null,
        }
    },
    mounted() {
        localStorage.setItem('token', this.token);
        this.toast = new Toast();
        this.smsTemplateApiService = new SMSTemplateApiService();
        this.selectedTemplate = new SMSTemplate();
        this.formData = new FormData();
        this.getResults(1);
    },
    methods: {
        getResults() {
            var outer_this = this;
            this.smsTemplateApiService.list().then(response => {
                this.response = response.data;
                console.log(response);
                this.templates = response.data.data.templates;
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });
        },
        clientDetail(template) {
            this.selectedTemplate = template;
            $('#show-template').modal('show');
        },
        editTemplate(template) {
            this.selectedTemplate = template;
            console.log(this.selectedTemplate);
            $('#update-template').modal('show');
        },

        deleteTemplate(id) {
            var outer_this = this;
            this.smsTemplateApiService.delete(id).then(response => {
                this.getResults(1);
                outer_this.toast.success('Template Delete Success!');
            })
                .catch(function (error) {
                    outer_this.toast.errors(error.response.data);
                });

        },
        updateTemplate() {
            var outer_this = this;
            for (const [key, value] of Object.entries(this.selectedTemplate)) {
                this.formData.append(key, value);
            }
            console.log(this.formData)
            this.smsTemplateApiService.update(this.selectedTemplate.id, this.formData).then(response => {
                this.response = response.data;
                outer_this.toast.success('Template Updated Success!');
                outer_this.getResults(1);
            }).catch(function (error) {
                outer_this.toast.errors(error.response.data);
            });

            console.log(this.selectedTemplate)
        }
    }
}

</script>
